<form id="sitemap" action="/sitemaps/generate" method="POST">
  <label for="domain">Domain</label>
  <input type="text" name="domain" />

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <button type="submit">Generate sitemap</button>
</form>
