<div class="sitemap">
  <% @pages.each do |page| %>
    <div data-url="<%= page.url %>">
      <%= page.url %>
      <% page.assets.each do |asset| %>
        <li>
          <%= asset.url %>
        </li>
      <% end %>
    </div>
  <% end %>
</div>
