<div class="sitemap">
  <% @pages.each do |page| %>
    <div data-url="<%= page.full_url %>">
      <%= page.full_url %>
      <ul>
        <% page.assets.each do |asset| %>
          <li>
            <%= asset.full_url %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
